main {
    text-align: center;
}

h1 {
    margin-top: 5rem;
}

h1 p {
    display: inline-block;
}

#game-board {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.6rem;
}

.checkbox {
    background-color: var(--main-color-300-);
    width: 7rem;
    height: 7rem;
    border-radius: 3px;
    transition: background-color 0.2s ease-out;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: var(--color-grey-800-);
}

.checkbox:hover {
    background-color: var(--main-color-600-);
}

.clicked {
    background-color: var(--main-color-600-);
}