a {
    text-decoration: none;
    font-size: 1.5rem;
    border: 1px none var(--main-color-600-);
    border-radius: 3px;
    padding: 0.8rem 1.3rem;
    background-color: var(--main-color-600-);
    color: white;
    display: inline-block;
    margin-top: 3rem;
    transition: background-color 0.2S ease-out;
}

a:hover {
    background-color: var(--main-color-800-);
}